@model Escalator.Common.Models.Escalation
@{

    ViewData["Title"] = "Escalation";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h1>Model</h1>
    <td>
        @Model.ID;
        @Model.JurisdictionID;
    </td>>

</div>