@model Escalator.Common.Models.Escalation
@{

    ViewData["Title"] = "New Escalation";
}

<form asp-action="New" asp-controller="Escalation">
    <label asp-for="JurisdictionID">Jurisdiction</label>
    <input asp-for="JurisdictionID" name="JurisdictionID" />
    <label asp-for="Account">Account</label>
    <input asp-for="Account" name="Account" />
    <label asp-for="DueBy">When do they need to be contacted?</label>
    <input asp-for="DueBy" name="DueBy" />
    <label asp-for="phoneNumber">Phone Number</label>
    <input asp-for="phoneNumber" name="phoneNumber" />
    <label asp-for="emailAddress">Email Address</label>
    <input asp-for="emailAddress" name="emailAddress" />
    <label asp-for="details">Details</label>
    <input asp-for="details" style="width: 200px; height: 400px;" name="details" />
    <input type="submit" name="submit" />

</form>