@{

    ViewData["Title"] = "Admin Menu";
}

<h1>Admin Menu</h1>

<ul>
    <li><a class="nav-link" asp-controller="Agent" asp-action="New">New Agent</a></li>
    <li><a class="nav-link" asp-controller="Agent" asp-action="Index">Manage Existing Agents</a></li>
    <li><a class="nav-link" asp-controller="Jurisdiction" asp-action="New">New Jurisdiction</a></li>
    <li><a class="nav-link" asp-controller="Jurisdiction" asp-action="Index">Manage Jurisdictions</a></li>
    <li><a class="nav-link" asp-controller="Ticket" asp-action="FullHistory">All Tickets (Including Closed)</a></li>
    <li><a class="nav-link" asp-controller="Ticket" asp-action="NewType">Add New Ticket Types</a></li>
    <li><a class="nav-link" asp-controller="Ticket" asp-action="ManageTypes">Manage Ticket Types and Forms</a></li>
</ul>